<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>俱乐部管理</title>
    <link rel="stylesheet" href="../css/element.css"/>
    <link rel="stylesheet" href="../css/base.css"/>
</head>
<body>
<div id="wrapper" v-cloak>
    <el-tabs v-model="group" @tab-click="handleClick" stretch>
        <el-tab-pane label="一号位" name="1">
            <div>
                <el-input
                        v-model="searchPlayer"
                        style="width: 20%"
                        suffix-icon="el-icon-search"
                        placeholder="请输入选手名搜索"
                ></el-input>
                <el-input
                        v-model="searchClub"
                        style="width: 20%"
                        suffix-icon="el-icon-search"
                        placeholder="请输入战队名搜索"
                ></el-input>
                <el-button @click="loadTable" type="primary" style="margin: 5px 0"
                >查询
                </el-button
                >
                <el-button @click="add" type="primary" style="margin: 5px 0"
                >新增
                </el-button
                >
            </div>
            <el-table :data="tableData" border style="width: 100%">
                <el-table-column prop="playerName" label="选手名"></el-table-column>
                <el-table-column prop="clubName" label="俱乐部名"></el-table-column>
                <el-table-column fixed="right" label="操作" width="150">
                    <template slot-scope="scope">
                        <el-button
                                type="primary"
                                @click="edit(scope.row)"
                                icon="el-icon-edit"
                                circle
                        ></el-button>
                        <el-popconfirm
                                @onConfirm="del(scope.row.playerId)"
                                title="确定删除？"
                        >
                            <el-button
                                    type="danger"
                                    icon="el-icon-delete"
                                    circle
                                    slot="reference"
                            ></el-button>
                        </el-popconfirm>
                    </template>
                </el-table-column>
            </el-table>
            <!-- 分页 -->
            <div style="background-color: white; padding: 10px 0">
                <el-pagination
                        @size-change="handleSizeChange"
                        @current-change="handleCurrentChange"
                        :current-page="pageNum"
                        :page-size="pageSize"
                        layout="total, prev, pager, next, jumper"
                        :total="total"
                >
                </el-pagination>
            </div>
        </el-tab-pane>
        <el-tab-pane label="二号位" name="2">
            <div>
                <el-input
                        v-model="searchPlayer"
                        style="width: 20%"
                        suffix-icon="el-icon-search"
                        placeholder="请输入选手名搜索"
                ></el-input>
                <el-input
                        v-model="searchClub"
                        style="width: 20%"
                        suffix-icon="el-icon-search"
                        placeholder="请输入战队名搜索"
                ></el-input>
                <el-button @click="loadTable" type="primary" style="margin: 5px 0"
                >查询
                </el-button
                >
                <el-button @click="add" type="primary" style="margin: 5px 0"
                >新增
                </el-button
                >
            </div>
            <el-table :data="tableData" border style="width: 100%">
                <el-table-column prop="playerName" label="选手名"></el-table-column>
                <el-table-column prop="clubName" label="俱乐部名"></el-table-column>
                <el-table-column fixed="right" label="操作" width="150">
                    <template slot-scope="scope">
                        <el-button
                                type="primary"
                                @click="edit(scope.row)"
                                icon="el-icon-edit"
                                circle
                        ></el-button>
                        <el-popconfirm
                                @onConfirm="del(scope.row.playerId)"
                                title="确定删除？"
                        >
                            <el-button
                                    type="danger"
                                    icon="el-icon-delete"
                                    circle
                                    slot="reference"
                            ></el-button>
                        </el-popconfirm>
                    </template>
                </el-table-column>
            </el-table>
            <!-- 分页 -->
            <div style="background-color: white; padding: 10px 0">
                <el-pagination
                        @size-change="handleSizeChange"
                        @current-change="handleCurrentChange"
                        :current-page="pageNum"
                        :page-size="pageSize"
                        layout="total, prev, pager, next, jumper"
                        :total="total"
                >
                </el-pagination>
            </div>
        </el-tab-pane>
        <el-tab-pane label="三号位" name="3">
            <div>
                <el-input
                        v-model="searchPlayer"
                        style="width: 20%"
                        suffix-icon="el-icon-search"
                        placeholder="请输入选手名搜索"
                ></el-input>
                <el-input
                        v-model="searchClub"
                        style="width: 20%"
                        suffix-icon="el-icon-search"
                        placeholder="请输入战队名搜索"
                ></el-input>
                <el-button @click="loadTable" type="primary" style="margin: 5px 0"
                >查询
                </el-button
                >
                <el-button @click="add" type="primary" style="margin: 5px 0"
                >新增
                </el-button
                >
            </div>
            <el-table :data="tableData" border style="width: 100%">
                <el-table-column prop="playerName" label="选手名"></el-table-column>
                <el-table-column prop="clubName" label="俱乐部名"></el-table-column>
                <el-table-column fixed="right" label="操作" width="150">
                    <template slot-scope="scope">
                        <el-button
                                type="primary"
                                @click="edit(scope.row)"
                                icon="el-icon-edit"
                                circle
                        ></el-button>
                        <el-popconfirm
                                @onConfirm="del(scope.row.playerId)"
                                title="确定删除？"
                        >
                            <el-button
                                    type="danger"
                                    icon="el-icon-delete"
                                    circle
                                    slot="reference"
                            ></el-button>
                        </el-popconfirm>
                    </template>
                </el-table-column>
            </el-table>
            <!-- 分页 -->
            <div style="background-color: white; padding: 10px 0">
                <el-pagination
                        @size-change="handleSizeChange"
                        @current-change="handleCurrentChange"
                        :current-page="pageNum"
                        :page-size="pageSize"
                        layout="total, prev, pager, next, jumper"
                        :total="total"
                >
                </el-pagination>
            </div>
        </el-tab-pane>
        <el-tab-pane label="四号位" name="4">
            <div>
                <el-input
                        v-model="searchPlayer"
                        style="width: 20%"
                        suffix-icon="el-icon-search"
                        placeholder="请输入选手名搜索"
                ></el-input>
                <el-input
                        v-model="searchClub"
                        style="width: 20%"
                        suffix-icon="el-icon-search"
                        placeholder="请输入战队名搜索"
                ></el-input>
                <el-button @click="loadTable" type="primary" style="margin: 5px 0"
                >查询
                </el-button
                >
                <el-button @click="add" type="primary" style="margin: 5px 0"
                >新增
                </el-button
                >
            </div>
            <el-table :data="tableData" border style="width: 100%">
                <el-table-column prop="playerName" label="选手名"></el-table-column>
                <el-table-column prop="clubName" label="俱乐部名"></el-table-column>
                <el-table-column fixed="right" label="操作" width="150">
                    <template slot-scope="scope">
                        <el-button
                                type="primary"
                                @click="edit(scope.row)"
                                icon="el-icon-edit"
                                circle
                        ></el-button>
                        <el-popconfirm
                                @onConfirm="del(scope.row.playerId)"
                                title="确定删除？"
                        >
                            <el-button
                                    type="danger"
                                    icon="el-icon-delete"
                                    circle
                                    slot="reference"
                            ></el-button>
                        </el-popconfirm>
                    </template>
                </el-table-column>
            </el-table>
            <!-- 分页 -->
            <div style="background-color: white; padding: 10px 0">
                <el-pagination
                        @size-change="handleSizeChange"
                        @current-change="handleCurrentChange"
                        :current-page="pageNum"
                        :page-size="pageSize"
                        layout="total, prev, pager, next, jumper"
                        :total="total"
                >
                </el-pagination>
            </div>
        </el-tab-pane>
        <el-tab-pane label="五号位" name="5">
            <div>
                <el-input
                        v-model="searchPlayer"
                        style="width: 20%"
                        suffix-icon="el-icon-search"
                        placeholder="请输入选手名搜索"
                ></el-input>
                <el-input
                        v-model="searchClub"
                        style="width: 20%"
                        suffix-icon="el-icon-search"
                        placeholder="请输入战队名搜索"
                ></el-input>
                <el-button @click="loadTable" type="primary" style="margin: 5px 0"
                >查询
                </el-button
                >
                <el-button @click="add" type="primary" style="margin: 5px 0"
                >新增
                </el-button
                >
            </div>
            <el-table :data="tableData" border style="width: 100%">
                <el-table-column prop="playerName" label="选手名"></el-table-column>
                <el-table-column prop="clubName" label="俱乐部名"></el-table-column>
                <el-table-column fixed="right" label="操作" width="150">
                    <template slot-scope="scope">
                        <el-button
                                type="primary"
                                @click="edit(scope.row)"
                                icon="el-icon-edit"
                                circle
                        ></el-button>
                        <el-popconfirm
                                @onConfirm="del(scope.row.playerId)"
                                title="确定删除？"
                        >
                            <el-button
                                    type="danger"
                                    icon="el-icon-delete"
                                    circle
                                    slot="reference"
                            ></el-button>
                        </el-popconfirm>
                    </template>
                </el-table-column>
            </el-table>
            <!-- 分页 -->
            <div style="background-color: white; padding: 10px 0">
                <el-pagination
                        @size-change="handleSizeChange"
                        @current-change="handleCurrentChange"
                        :current-page="pageNum"
                        :page-size="pageSize"
                        layout="total, prev, pager, next, jumper"
                        :total="total"
                >
                </el-pagination>
            </div>
        </el-tab-pane>
    </el-tabs>
    <el-dialog title="选手信息" :visible.sync="dialogFormVisible" width="40%"
               :close-on-click-modal="false">
        <el-form :model="entity">
            <el-form-item label="选手名" label-width="100px">
                <el-input v-model="entity.playerName" autocomplete="off" style="width: 80%"></el-input>
            </el-form-item>
            <el-form-item v-if="positionFlag" label="选手位置" label-width="100px">
                <el-select v-model="entity.playerPosition" style="width: 80%;" placeholder="请选择选手位置">
                    <el-option
                            v-for="item in position"
                            :key="item.id"
                            :label="item.name"
                            :value="item.id"
                    >
                    </el-option>
                </el-select>
            </el-form-item>
            <el-form-item label="选手俱乐部" label-width="100px">
                <el-select
                        v-model="entity.playerClub"
                        style="width: 80%;"
                        placeholder="请选择俱乐部"
                >
                    <el-option
                            v-for="item in club"
                            :key="item.clubId"
                            :label="item.clubName"
                            :value="item.clubId"
                    >
                    </el-option>
                </el-select>
            </el-form-item>
        </el-form>
        <div slot="footer" class="dialog-footer">
            <el-button @click="dialogFormVisible = false">取 消</el-button>
            <el-button type="primary" @click="save">确 定</el-button>
        </div>
    </el-dialog>
</div>
<script src="../js/jquery.min.js"></script>
<script src="../js/vue.js"></script>
<script src="../js/element.js"></script>

<script>
    let vm = new Vue({
        el: "#wrapper",
        data: {
            tableData: [],
            entity: {},
            pageNum: 1,
            pageSize: 10,
            total: 0,
            group: "1",
            searchPlayer: '',
            searchClub: '',
            positionFlag: false,
            dialogFormVisible: false,
            fileList: [],
            club:[
                {
                    clubId:"null",
                    clubName:"暂无俱乐部",
                }
            ],
            position: [
                {
                    id: 1,
                    name: "一号位"
                },
                {
                    id: 2,
                    name: "二号位"
                },
                {
                    id: 3,
                    name: "三号位"
                },
                {
                    id: 4,
                    name: "四号位"
                },
                {
                    id: 5,
                    name: "五号位"
                },
            ]
        },
        created() {
            this.loadTable();
        },
        methods: {
            loadTable() {
                if(!this.searchClub && !this.searchPlayer){
                    $.get(
                        "/player/userClubAll?pageNum=" +
                        this.pageNum +
                        "&pageSize=" +
                        this.pageSize +
                        "&position=" +
                        this.group
                    ).then((res) => {
                        if (res.code === 0) {
                            this.tableData = res.data.list;
                            this.total = res.data.total;
                            console.log(this.total)
                        } else {
                            this.tableData = [];
                            this.total = 0;
                        }
                    });
                }else{
                    $.get(
                        "/player/userClubAll?pageNum=" +
                        this.pageNum +
                        "&pageSize=" +
                        this.pageSize +
                        "&position=" +
                        this.group +
                        "&name=" +
                        this.searchPlayer +
                        "&club=" +
                        this.searchClub
                    ).then((res) => {
                        if (res.code === 0) {
                            this.tableData = res.data.list;
                            this.total = res.data.total;
                            console.log(this.total)
                        } else {
                            this.tableData = [];
                            this.total = 0;
                        }
                    });
                }
                if(this.searchClub){
                    $.get(
                        "/player/userClubAll?pageNum=" +
                        this.pageNum +
                        "&pageSize=" +
                        this.pageSize +
                        "&position=" +
                        this.group +
                        "&club=" +
                        this.searchClub
                    ).then((res) => {
                        if (res.code === 0) {
                            this.tableData = res.data.list;
                            this.total = res.data.total;
                            console.log(this.total)
                        } else {
                            this.tableData = [];
                            this.total = 0;
                        }
                    });
                }
                if(this.searchPlayer){
                    console.log(this.searchPlayer)
                    $.get(
                        "/player/userClubAll?pageNum=" +
                        this.pageNum +
                        "&pageSize=" +
                        this.pageSize +
                        "&position=" +
                        this.group +
                        "&name=" +
                        this.searchPlayer
                    ).then((res) => {
                        if (res.code === 0) {
                            this.tableData = res.data.list;
                            this.total = res.data.total;
                            console.log(this.total)
                        } else {
                            this.tableData = [];
                            this.total = 0;
                        }
                    });
                }

            },
            handleSizeChange(pageSize) {
                this.pageSize = pageSize;
                this.loadTable();
            },
            handleCurrentChange(pageNum) {
                this.pageNum = pageNum;
                this.loadTable();
            },
            handleClick(tabs) {
                this.group = tabs.name;
                this.searchPlayer = null;
                this.searchClub = null;
                this.loadTable();
            },
            add() {
                $.get(
                    "/club/userList"
                ).then((res) => {
                    if(this.club.length === 1)
                        this.club.push(...res.data);
                })
                this.entity = {}
                this.dialogFormVisible = true;
                this.positionFlag = true;
            },
            edit(obj) {
                console.log(obj)
                $.get(
                    "/club/userList"
                ).then((res) => {
                    if(this.club.length === 1)
                        this.club.push(...res.data);
                })
                this.positionFlag = obj.playerClub == null;
                this.entity = JSON.parse(JSON.stringify(obj));
                this.dialogFormVisible = true
            },
            del(obj) {
                console.log(obj)
                $.ajax({
                    url: "/player/set/" + obj,
                    type: 'DELETE',
                }).then((res) => {
                    if (res.code === 0) {
                        this.$message({
                            message: "删除成功",
                            type: "success"
                        });
                        this.loadTable();
                    } else {
                        this.$message({
                            message: res.message,
                            type: "error"
                        })
                    }
                })
            },
            save() {
                console.log(this.entity)
                let type = this.entity.playerId ? "PUT" : "POST";
                $.ajax({
                    url: "/player/set/",
                    type: type,
                    contentType: "application/json",
                    data: JSON.stringify(this.entity)
                }).then((res) => {
                    if (res.code === 0) {
                        this.$message({
                            message: "保存成功",
                            type: "success"
                        });
                        this.loadTable();
                    } else {
                        this.$message({
                            message: res.message,
                            type: "error"
                        })
                    }
                    this.dialogFormVisible = false;
                })
            }
        },
    });
</script>
</body>
</html>
