<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Document</title>
  <link rel="stylesheet" href="../css/base.css" />
  <link rel="stylesheet" href="../css/element.css" />
  <link rel="icon" href="../images/favicon.ico" type="image/x-icon" />
</head>
<body>
<div id="wrapper">
  <div style="padding: 10px">
    <h1 style="text-align: center">今日赛程</h1>
  </div>
  <hr />
  <div v-if="total > 0">
    <el-table :data="tableData" border style="width: 100%">
      <el-table-column
              prop="time"
              label="Time"
              width="120"
              sortable
      ></el-table-column>
      <el-table-column prop="homeTeam" label="主队"></el-table-column>
      <el-table-column prop="visitingTeam" label="客队"></el-table-column>
      <el-table-column prop="result" label="结果">
        <v-if> </v-if>
      </el-table-column>
    </el-table>
    <!-- 分页 -->
    <div style="background-color: white; padding: 10px 0">
      <el-pagination
              @size-change="handleSizeChange"
              @current-change="handleCurrentChange"
              :current-page="pageNum"
              :page-sizes="[5, 10, 20, 40]"
              :page-size="pageSize"
              layout="total, sizes, prev, pager, next, jumper"
              :total="total"
      >
      </el-pagination>
    </div>
  </div>
  <div
          v-else
          style="
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        "
  >
    <h1 style="text-align: center">今日无比赛</h1>
  </div>
</div>
<script src="../js/jquery.min.js"></script>
<script src="../js/vue.min.js"></script>
<script src="../js/element.js"></script>
<script>
  new Vue({
    el: "#wrapper",
    data: {
      tableData: {},
      pageNum: 1,
      pageSize: 10,
      total: 0,
    },
    created() {
      this.loadTable();
    },
    methods: {
      loadTable() {
        $.get(
                "http://localhost:8080" +
                "/matches/time?pageNum=" +
                this.pageNum +
                "&pageSize=" +
                this.pageSize
        ).then((res) => {
          if (res.code === 0) {
            this.tableData = res.data.list;
            this.total = res.data.total;
          }
        });
      },
    },
    handleSizeChange(pageSize) {
      this.pageSize = pageSize;
      this.loadTable();
    },
    handleCurrentChange(pageNum) {
      this.pageNum = pageNum;
      this.loadTable();
    },
  });
</script>
</body>
</html>
