<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="pragma" content="no-cache" />
    <meta http-equiv="Cache-Control" content="no-cache, must-revalidate" />
    <meta http-equiv="expires" content="0" />
    <title>登录</title>
    <link rel="stylesheet" href="../css/base.css" />
    <link rel="stylesheet" href="../css/element.css" />
    <link rel="icon" href="../images/favicon.ico" type="image/x-icon"/>
  </head>
  <body
    style="
      background: url('../images/bg.jpg') no-repeat;
      background-size: cover;
    "
  >
    <div id="wrapper">
      <div
        style="
          width: 400px;
          margin: 120px auto;
          background-color: rgba(100, 149, 237, 0.5);
          border-radius: 10px;
        "
      >
        <div
          style="
            width: 100%;
            height: 100px;
            font-size: 30px;
            line-height: 100px;
            text-align: center;
            color: #eee;
          "
        >
          欢迎登录
        </div>
        <div style="margin-top: 20px; width: 100%; height: 320px">
          <div style="width: 60%; margin: 0 auto">
            <input
              v-model="user.name"
              type="text"
              style="
                border: 1px solid #ccc;
                height: 40px;
                padding: 10px;
                width: 100%;
              "
              placeholder="请输入账号"
            />
            <input
              v-model="user.password"
              type="password"
              style="
                border: 1px solid #ccc;
                height: 40px;
                padding: 10px;
                width: 100%;
                margin-top: 25px;
              "
              placeholder="请输入密码"
            />
            <button
              @click="login"
              style="
                height: 40px;
                padding: 10px;
                width: 100%;
                margin-top: 25px;
                background-color: mediumseagreen;
                color: white;
              "
            >
              登录
            </button>
            <a
              style="
                width: 100%;
                text-align: right;
                display: inline-block;
                margin-top: 25px;
                color: #eee;
              "
              href="register.html"
              >还没账号？去注册</a
            >
          </div>
        </div>
      </div>
    </div>
    <script src="../js/jquery.min.js"></script>
    <script src="../js/vue.min.js"></script>
    <script src="../js/element.js"></script>
    <script src="../js/gVerify.js"></script>
    <script>
      //初始化验证码
      let verifyCode;

      new Vue({
        el: "#wrapper",
        data: {
          user: {
            name: "",
            password: "",
          },
        },
        created() {
          // this.Roletype()
          if (null != sessionStorage.getItem("user")) {
            alert("你好，您已登录请返回主页");
            location.href = "/Index";
          }
        },
        methods: {
          login() {
            if (!this.user.name) {
              this.$message({
                message: "请输入用户名",
                type: "error",
              });
              return;
            }
            if (!this.user.password) {
              this.$message({
                message: "请输入密码",
                type: "error",
              });
              return;
            }
            console.log(JSON.stringify(this.user));
            $.ajax({
              url: "/user/login",
              type: "POST",
              contentType: "application/json",
              data: JSON.stringify(this.user),
            }).then((res) => {
              console.log(res);
              if (res.code === 0) {
                this.$message({
                  message: "登录成功",
                  type: "success",
                });
                console.log(res.data);
                sessionStorage.setItem("user", res.data.nickName);
                setTimeout(() => {
                  location.href = res.data.url;
                }, 1000);
              } else {
                this.$message({
                  message: res.message,
                  type: "error",
                });
              }
            });
          },
        },
      });
    </script>
  </body>
</html>
