<!DOCTYPE html>
<html lang="en" style="width: 100%; height: 100%">
  <head>
    <meta charset="UTF-8" />
    <title>注册</title>
    <link rel="stylesheet" href="../css/base.css" />
    <link rel="stylesheet" href="../css/element.css" />
  </head>
  <body style="width: 100%; height: 100%">
    <div
      id="wrapper"
      style="
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
      "
    >
      <h1>HEllo</h1>
    </div>
    <script src="../js/jquery.min.js"></script>
    <script src="../js/vue.min.js"></script>
    <script src="../js/element.js"></script>

    <script>
      new Vue({
        el: "#wrapper",
        data: {
          user: {
            name: "",
            password: "",
            role: "",
          },
          options: [
            {
              value: "选项1",
              label: "1",
            },
            {
              value: "选项2",
              label: "2",
            },
            {
              value: "选项3",
              label: "3",
            },
            {
              value: "选项4",
              label: "4",
            },
            {
              value: "选项5",
              label: "5",
            },
          ],
        },
        methods: {
          register() {
            console.log(this.user);
          },
        },
      });
    </script>
  </body>
</html>
